body {
  margin: 0%;
  padding: 0%;
  background-color:rgb(19, 14, 6);
  color:blue;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;

  
}

#root {
  margin: 0px;
  position: relative;
  min-height: 100vh;
}